body{
    background-image: url(tlodobre.jpg);
    background-size:cover;
}

@keyframes show{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes hide{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
@keyframes word{
    from{
        font-size:0vw;
        opacity:0;
    }
    to{
        opacity:1;
        font-size:4.5vw;
    }
}
@keyframes changeColor{
    from{
        background-color:rgb(97, 97, 97);
        box-shadow: 0.3vw 0.3vw 0.3vw #888888;
    }
    to{
        background-color: rgb(0, 192, 192);;
        border: 0;
        box-shadow: none;
    }
}


section{
    display:flex;
    width:75vw;
    margin-left:17vw;
    margin-top:8vh;
    justify-content: space-between;
    animation: show 1.5s;
}
main{
    background-color:rgb(0, 180, 180);
    display:flex;
    height:68vh;
    width:45vw;
    justify-content: space-around;
    flex-wrap:wrap;
    align-content: space-around;
    border-radius:2%;
    box-shadow:0 0 3vw #424242;
}
#words{
    height:10vh;
    width:45vw;
    margin-left:20vw;
    text-align:center;
    font-size:4.5vw;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: rgb(36, 36, 36);
}
#words.wordAnimation{
    animation: "show 2s";
}
#scores{
    height:30vh;
    width:25vw; 
    font-size: 3.3vw;
    background-color:rgb(97, 97, 97);
    margin-top:10vh;
    border-top-left-radius:7%;
    border-top-right-radius:7%;
    border-bottom-left-radius: 7%;
    box-shadow: 0.3vw 0.3vw 0.3vw #424242;
    line-height:9vh;
    padding-top:2vh;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: rgb(209, 209, 209);
    display:flex;
}
.square{
    width:10.5vw;
    height:15vh;
    background-color:rgb(97, 97, 97);
    font-size:5vw;
    text-align:center;
    cursor:pointer;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
    border-bottom-left-radius: 10%;
    display:flex;
    align-items:center;
    justify-content: center;
    box-shadow: 0.3vw 0.3vw 0.3vw #424242;
}
.points{
    width:43%;
    padding-left:1.5%;
}
.attempts{
    width: 57%;
}
footer{
    position:fixed;
    bottom:0;
    left:50%;
    font-size:1.2vw;
    transform: translateX(-50%);
}
.end{
    font-size: 4vw;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
.end i.fas.fa-frown-open{
    color:red;
    opacity: 0.65;
    font-size: 8vw;
}
.end i.fas.fa-grin-beam{
    color:green;
    opacity: 0.65;
    font-size: 8vw;
}
.square i.fas.fa-heart{
    color:rgb(165, 8, 8);
}
.square i.fas.fa-apple-alt{
    color:rgb(16, 107, 16);
}
.square i.fas.fa-dove{
    color:rgb(117, 28, 28);
}
.square i.fas.fa-gem{
    color:silver;
}
.square i.fas.fa-sun{
    color:rgb(226, 226, 67);
}
.square i.fas.fa-moon{
    color:gold;
}
.square i.fas.fa-dog{
    color:rgb(46, 46, 46);
}
.square i.far.fa-futbol{
    color:rgb(223, 223, 223);
}
.square i.fas.fa-check{
    font-size:3vw;
}

@media screen and (max-width:1050px){
    body{
        background-image: url(tlodobre1.jpg);
    }
    section{
        flex-direction: column-reverse;
        margin-left:auto;
        margin-right:auto;
        margin-top:3vh;
        align-items:center;
        width:85vw;
    }
    #words{
        display:none;
    }
    #scores{
        margin-top:0;
        margin-bottom:3vh;
        height:13vh;
        width:50vw;
        padding:0;
        line-height: 7vh;
        text-align:center;
        font-size:3.2vw;
    }
    main{
        width:70vw;
        height:72vh;
    }
    .square{
        width:15.5vw;
        height:16.2vh;
        font-size: 7vw;
    }
    .end{
        padding-top:7vh;
        font-size:4.75vw;
    }
    .end i.fas.fa-frown-open{
        font-size: 10vw;
    }
    .end i.fas.fa-grin-beam{
        font-size: 10vw;
    }
    footer{
        display:none;
    }
}


@media screen and (max-width:730px){
    body{
        background-image: url(tlodobre2.jpg);
    }
    main{
        width:78vw;
        height:75vh;
    }
    .square{
        width:17.6vw;
        height:16.7vh;
        font-size: 10.5vw;
    }
    #scores{
        font-size: 5.3vw;
    }
    footer{
        font-size:1.7vw;
    }
    .end{
        padding-top:12vh;
        font-size: 6.5vw;
    }
    .end i.fas.fa-frown-open{
        font-size: 11.5vw;
    }
    .end i.fas.fa-grin-beam{
        font-size: 11.5vw;
    }
}

@media screen and (max-width:500px){
    body{
        background-image: url(tlodobre3.jpg);
    }
    main{
        width:90vw;
        height:100vw;
    }
    .square{
        width:21vw;
        height:23vw;
        font-size: 10.5vw;
    }
}

@media screen and (max-width:400px){
    body{
        background-image: url(tlodobre4.jpg);
    }
    main{
        width:95vw;
        height:110vw;
    }
    .square{
        width:22vw;
        height:24.5vw;
    }
}



